#main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(25, 91, 87);
  flex-direction: column;
}
.inputDiv {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.inputDiv input {
  width: 50%;
  height: 50px;
  font-size: large;
}

.linkBTN {
  height: 100px;
  width: 20%;
  font-size: xx-large;
  border-radius: 5px;
}
.linkBTN:hover {
  background-color: rgb(156, 193, 226);
  color: white;
}

.BTN {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

.linkDiv {
  height: 100px;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
  background-color: white;
  width: 200px;
}
.linkDiv:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 193, 226);
}
.link {
  color: black !important;
  justify-content: center;
  align-items: center;
}
.homeLinkInsert {
  color: beige !important;
  font-size: larger;
}
.ValidDiv {
  font-size: 25px;
  text-align: center;
}
