.mainM {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  min-height: 100vh;
  background-color: rgb(25, 91, 87);
}
.mainM button {
  width: 150px;
  height: 70px;
  margin-left: 5px;
  font-size: xx-large;
  border-radius: 5px;
}
.mainM button:hover {
  background-color: rgb(156, 193, 226);
  color: white;
}

.tableM {
  display: flex;
  flex-direction: row;
}
.tableM div {
  display: flex;
  flex-direction: column;
}

.headerM {
  background-color: rgb(102, 102, 228);
}

.prdBtnM {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.numberOfStepM {
  height: 50px;
  border-bottom: 1px solid black;
  background-color: rgb(253, 253, 253);
  justify-content: center;
  align-items: center;
}
.numberOfStepS {
  height: 50px;
  border-bottom: 1px solid black;
  background-color: rgb(253, 253, 253);
  text-align: center;
}
.numberOfStepZero {
  border-bottom: 1px solid black;
  background-color: rgb(253, 253, 253);
  text-align: center;
}

.headerActionM {
  width: 250px;
  background-color: rgb(102, 102, 228);
}
tr {
  height: 22px;
  font-size: 15px;
}

p {
  border-bottom: 0.5px solid black;
  margin: 0;
}
.ActiveM {
  display: flex;
  color: rgb(255, 7, 7);
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
.LSB {
  border: 3px solid red;
  border-radius: 50%;
  height: auto;
}
.trStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.homeLinkM {
  font-size: larger !important;
  color: aliceblue !important;
  margin-top: 100px;
}
