.valGreenD {
    font-size: 17px;
    fill: rgb(13, 255, 21);
    stroke: rgb(13, 255, 21);
  }
  .valD {
    font-size: 19px;
  }
  .valRedD {
    font-size: 17px;
    fill: red;
    stroke: red;
  }
  .valBlackD {
    font-size: 17px;
    fill: black;
    stroke: black;
  }
  .valOrangeD {
    font-size: 17px;
    fill: rgb(255, 130, 13);
    stroke: rgb(255, 130, 13);
  }
  .controlTestRedD {
    stroke: red;
  
    filter: drop-shadow(1px 1px 5px red);
  }
  
  .controlTestGreenD {
    stroke: rgb(13, 255, 21);
    filter: drop-shadow(1px 1px 10px rgb(13, 255, 21));
  }
  .controlTestWhiteD {
    stroke: white;
  }
  .controlTestOrangeD {
    stroke: rgb(255, 130, 13);
    filter: drop-shadow(1px 1px 10px rgb(255, 130, 13));
  }
  .controlTestBlackD {
    stroke: rgb(2, 2, 2);
    filter: drop-shadow(1px 1px 10px rgb(2, 2, 2));
  }
  .arrowsRedD {
    fill: red;
  }
  .arrowsWhiteD {
    fill: white;
  }
  .arrowsOrangeD {
    fill: rgb(255, 130, 13);
  }
  .arrowsGreenD {
    fill: rgb(13, 255, 21);
  }
  .arrowsBlackD {
    fill: rgb(2, 2, 2);
  }
  .TextRedD {
    fill: red;
    stroke: #ff0000;
    font-size: 23px;
  }
  .TextGreenD {
    fill: rgb(13, 255, 21);
    stroke: rgb(13, 255, 21);
    font-size: 23px;
  }
  .TextBlackD {
    fill: black;
    stroke: black;
    font-size: 23px;
  }
  .TextWhiteD {
    fill: white;
  
    font-size: 23px;
  }
  .TextD {
    font-size: 23px;
  }
  